{{>carrossel}}


<div class="d-grid gap-2 d-flex justify-content-end me-4" style="font-size: clamp(1.8em, 2.5vw, 2em)">
    <a href="/"><i class="bi bi-box-arrow-right fs-3 text-success"></i></a>
</div>

<div class="alert alert-danger mt-3 text-center" role="alert" style="font-size: clamp(0.7rem, 2vw, 1rem)">
  <strong>Acesso negado!!</strong> Para acessar, realize o login como ADM.
</div>



</section>